[submodule "demos/third_party/microtbx"]
	path = demos/third_party/microtbx
	url = https://github.com/feaser/microtbx.git
[submodule "demos/third_party/freertos"]
	path = demos/third_party/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
