[submodule "demos/third_party/microtbx"]
	path = demos/third_party/microtbx
	url = https://github.com/feaser/microtbx.git
[submodule "demos/third_party/fatfs"]
	path = demos/third_party/fatfs
	url = https://github.com/abbrev/fatfs.git
